:root {

    --h1: 2.8rem;
    --h2: 2.0rem;
    --h3: 1.8rem;
    --p: 1.6rem;

    --bg-blue: #194B5F;
    --primary-blue: #205B73;
    --secondary-blue: #307b8c;
    --just-white: #FFFFFF;
    --light-blue: #0FFFFB;

    --content-margin: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-blue);
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-blue);
}

.update-date {
    display: block;
    margin-right: 8px;
    text-align: right;
    font-size: 1.4rem;
    color: var(--secondary-green);
}

.logo {
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 14px;
    margin: 20px auto;
    width: 100%;
    max-width: 350px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.logo img {
    grid-row: 1 / 3;
    width: 140px;
    height: 140px;
    align-self: center;
    justify-self: flex-end;
}

.logo__title {
    font-size: 3.8rem;
    color: var(--just-white);
    font-weight: 500;
    align-self: flex-end;
}

.logo__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    align-self: flex-start;
    margin-top: 4px;
    color: var(--light-blue);
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
    min-width: 300px;
    max-width: 510px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.nav-bar_link {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 52px;
    height: 51px;
    border: 3px solid var(--light-blue);
    border-radius: 16px;
    padding: 6px;
    transition: all .2s ease-in-out;
}

.nav-bar_link img {
    width: 100%;
    height: 100%;
}

.nav-bar_link:hover {
    transform: scale(1.1);
}

.nav-bar_link:hover > .tooltip {
    visibility: visible;
    transition-delay: 1s;
}

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: var(--light-blue);
    color: var(--bg-blue);
    font-size: 1.6rem;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 130%;
    left: 50%;
    margin-left: -50px;
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.introdution {
    width: 100%;
    margin-top: var(--content-margin);
    padding: 16px;
    background-color: var(--primary-blue);
}

.info-container {
    margin: 0 auto;
    max-width: 700px;
}

.short-info {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
    font-size: var(--h1);
    font-weight: 500;
    text-align: center;
    color: var(--just-white);
}

.image-container {
    width: 90%;
    height: 300px;
    min-width: 260px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 16px;
    border: 3px solid var(--light-blue);
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introdution_info {
    margin: 0 auto;
    font-size: 1.6rem;
    color: var(--just-white);
}

.skills {
    width: 100%;
    max-width: 600px;
    margin-top: var(--content-margin);
    padding: 16px;
    background-color: var(--primary-blue);
}

.skill-list {
    margin-left: 20px;
    font-size: var(--p);
    color: var(--just-white);
}

.knowledge {
    width: 100%;
    max-width: 400px;
    margin-top: var(--content-margin);
    padding: 16px;
    background-color: var(--primary-blue);
}

.subtitle {
    margin-bottom: 24px;
    font-size: var(--h2);
    font-weight: 500;
    text-align: center;
    color: var(--just-white);
}

.container-lenguage-knowledge {
    width: 90%;
    margin: 0 auto;
}

.language {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
} 

.language_title {
    font-size: var(--h3);
    font-weight: 500;
    color: var(--just-white);
}

.container-language_progress-bar {
    width: 80%;
    background-color: var(--secondary-blue);
}

.language_progress-bar {
    height: 20px;
    background-color: var(--light-blue);
}

.language_progress-bar--html {
    width: 90%;
}

.language_progress-bar--css {
    width: 70%;
}

.language_progress-bar--js {
    width: 40%;
}

.frameworks {
    max-width: 400px;
    margin-bottom: 30px;
}

.frameworks-container {
    display: flex;
    justify-content: space-evenly;
}

.framework_name {
    font-size: var(--h3);
    font-weight: 500;
    text-align: center;
    color: var(--just-white);
}

.framework_img {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.framework_img--vuejs {
    background-image: url('../assets/images/vuejs.png');
}

.framework_img--reactjs {
    background-image: url('../assets/images/reactjs.png');
}

.framework_img--angular {
    background-image: url('../assets/images/angular.png');
}

.ides {
    max-width: 400px;
}

.ides-container {
    display: flex;
    justify-content: space-evenly;
}

.ide_name {
    font-size: var(--h3);
    font-weight: 500;
    text-align: center;
    color: var(--just-white);
}

.ide_img {
    height: 80px;
    margin-bottom: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ide_img--vsc {
    background-image: url('../assets/images/vsc.png');
}

.education {
    width: 100%;
    max-width: 600px;
    margin-top: var(--content-margin);
    padding: 16px;
    background-color: var(--primary-blue);
}

.education-list {
    margin: 0 0 20px 20px;
    font-size: 1.6rem;
    color: var(--just-white);

}

.education__button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.diplomas-modal {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    overflow: auto;
}

.diplomas {
    position: relative;
    padding: 32px 16px;
    background-color: var(--primary-blue);
    animation-name: animatetop;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top: calc(40% / 2); opacity:1}
}

.diplomas__title {
    margin-bottom: 20px;
}

.close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 4rem;
    font-weight: bold;
    color: var(--just-white);
}

.close:hover,
.close:focus {
  text-decoration: none;
  color: var(--light-blue);
  cursor: pointer;
}

.diplomas__container {
    display: flex;
    padding: 24 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.diploma {
    width: 100%;
    max-width: 420px;
    min-width: 365px;
    margin: 0 20px;
}

.diploma__image {
    width: 100%;
    height: 280px;
    border: 4px solid var(--secondary-green);
}

.diploma__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-experience {
    width: 100%;
    max-width: 600px;
    margin-top: var(--content-margin);
    padding: 16px;
    background-color: var(--primary-blue);
}

.work-experience-list {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: var(--just-white);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container > a {
    display: inline-block;
    font-weight: 500 !important;
    text-decoration: none;
}

.button-container--margin {
    margin-top: 30px;
}

.projects {
    width: 100%;
    margin-top: var(--content-margin);
    padding: 16px;
    background-color: var(--primary-blue);
}

.cards {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.card {
    position: relative;
    width: 100%;
    height: 510px;
    min-width: 340px;
    max-width: 340px;
    margin: 0 15px;
    padding: 14px 20px;
    background-color: var(--secondary-blue);
    box-shadow: 3px 3px 4px var(--bg-blue);
    scroll-snap-align: center;
}

.img-container {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 12px;
    border: 3px solid var(--light-blue);
}

.img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_title {
    font-size: 2.4rem;
}

.card_info {
    margin-bottom: 20px;
    font-size: var(--p);
    line-height: 1.8rem;
    color: var(--just-white);
}

.btn {
    padding: 8px 16px;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    border: 3px solid var(--light-blue);
    outline: none;
    background-color: transparent;
    color: var(--light-blue);
    cursor: pointer;
    transition: transform .5s;
}

.card_btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: block;
    width: 90%;
    font-weight: 500 !important;
    text-decoration: none;
    transform: translateX(-50%);
}

.projects_btn {
    display: block;
    width: 160px;
    margin: 30px auto 0;
}

.btn:hover {
    background-color: var(--light-blue);
    color: var(--bg-blue);
}

.btn:hover:not(.card_btn) {
    transform: scale(1.1);
}

.footer {
    width: 100%;
    margin-top: var(--content-margin);
    padding: 16px;
    background-color: var(--primary-blue);
}

.links-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 16px 0;
}

.link {
    width: 51px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s;
}

.link:hover {
    transform: translateY(-10px);
}

.link--face {
    background-image: url("../assets/icons/facebook.png");
}

.link--ins {
    background-image: url("../assets/icons/instagram.png");
}

.link--twitter {
    background-image: url("../assets/icons/twitter.png");
}

.link--linkedin {
    background-image: url("../assets/icons/linkedin.png");
}

.footer__github {
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    color: var(--just-white);
}

.footer__github > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--light-blue);
}

.footer__github > a:hover {
    text-decoration: underline;
}

.footer__copy {
    margin-top: 16px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--just-white);
}

.link:hover > .link__text > a {
    color: var(--secondary-green);
}

.fade {
    animation: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
}

@media (min-width: 1024px) {
    .main--cards {
        justify-content: space-evenly;
        overflow-x: hidden;
    }

    .info-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav-bar {
        justify-self: center;
    }

    .logo img {
        grid-row: 1 / 3;
        width: 180px;
        height: 180px;
        align-self: center;
        justify-self: flex-end;
    }
    
    .logo__title {
        font-size: 4.6rem;
    }
    
    .logo__subtitle {
        font-size: 1.8rem;
    }

    :root {
        --content-margin: 30px;
    }
}

/* PROJECTS */

.headers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    min-width: 320px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--primary-blue);
}

.headers > h1 {
    justify-self: center;
    font-size: 3rem;
    color: var(--just-white);
}

.headers > button {
    justify-self: center;
}

.projects-container {
    padding: 16px 0;
}

.web-pages {
    margin-bottom: 20px;
    padding: 16px 0;
    background-color: var(--primary-blue);
}

.web-pages__title {
    font-size: 2.6rem;
}

/* BIOGRAPHY */

.biography-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    column-gap: 12px;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--primary-blue);
}

.personal-info {
    grid-area: 1 / 1 / 4 / 3;
    font-size: var(--p);
}

.personal-info ul {
    list-style: none;
}

.personal-info ul li {
    padding: 4px;
    color: var(--light-blue);
}

.personal-info ul li span {
    margin-left: 8px;
    color: var(--just-white);
}

.johan-image {
    height: 300px;
    grid-area: 1 / 3 / 4 / 5;
    border: 2px solid var(--light-blue);
}

.johan-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history {
    grid-area: 4 / 1 / auto / 5;
    margin-top: 20px;
    font-size: var(--p);
    color: var(--just-white);
}

.history p {
    line-height: 2rem;
}

.history h3 {
    margin-top: 20px;
    font-size: var(--h2);
    font-weight: 700;
}

.history ul {
    margin-top: 20px;
    list-style: none;
}

.history ul li {
    padding: 4px;
}

.button-container--grid {
    justify-self: center;
    grid-area: 5 / 1 / 6 / 5;
}