@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu-regular.woff2') format('woff2'),
    url('../assets/fonts/ubuntu-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {

    --h1: 2.8rem;
    --h2: 2.0rem;
    --h3: 1.8rem;
    --h4: 1.7rem;
    --button: 1.7rem;
    --p: 1.6rem;

    --bg-blue: #194B5F;
    --primary-blue: #205B73;
    --secondary-blue: #307b8c;
    --just-white: #FFFFFF;
    --light-blue: #0FFFFB;

    --section-margin: 20px;
    --section-padding: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-blue);
    overflow-x: hidden;
}

section {
    width: 100%;
    margin-top: var(--section-margin);
    padding: var(--section-padding);
    background-color: var(--primary-blue);
    color: var(--just-white);
}

aside {
    margin-bottom: 30px;
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
    font-weight: 500;
}

.title {
    margin-bottom: 20px;
    font-size: var(--h1);
    font-weight: 500;
    text-align: center;
}

.subtitle {
    margin-bottom: 20px;
    font-size: var(--h2);
    font-weight: 500;
    text-align: center;
}

p, 
li {
    font-size: var(--p);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: var(--button);
    font-weight: bold;
    text-align: center;
    border: 3px solid var(--light-blue);
    outline: none;
    background-color: transparent;
    color: var(--light-blue);
    cursor: pointer;
}

button:hover {
    background-color: var(--light-blue);
    color: var(--bg-blue);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    min-width: 320px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--primary-blue);
}

.header > h1 {
    justify-self: center;
    font-size: 3rem;
    color: var(--just-white);
}

.header > button {
    justify-self: flex-end;
    margin: 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-blue);
}

.logo {
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 14px;
    margin: 20px auto;
    width: 100%;
    max-width: 350px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.logo img {
    grid-row: 1 / 3;
    width: 140px;
    height: 140px;
    align-self: center;
    justify-self: flex-end;
}

.logo__title {
    font-size: 3.8rem;
    color: var(--just-white);
    font-weight: bold;
    align-self: flex-end;
}

.logo__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    align-self: flex-start;
    margin-top: 4px;
    color: var(--light-blue);
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
    min-width: 300px;
    max-width: 510px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.nav-bar_link {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 52px;
    height: 51px;
    border: 3px solid var(--light-blue);
    border-radius: 16px;
    padding: 6px;
    transition: all .2s ease-in-out;
}

.nav-bar_link img {
    width: 100%;
    height: 100%;
}

.nav-bar_link:hover {
    transform: scale(1.1);
}

.nav-bar_link:hover > .tooltip {
    visibility: visible;
    transition-delay: 1s;
}

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: var(--light-blue);
    color: var(--bg-blue);
    font-size: 1.6rem;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 130%;
    left: 50%;
    margin-left: -50px;
}

.intro-profile {
    max-width: 760px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.intro-profile__photo {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 16px;
    border: 3px solid var(--light-blue);
}

.intro-profile__aboutme a {
    color: var(--light-blue);
}

.skill-list, 
.education-list,
.work-experience-list {
    margin-left: 20px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.4); 
    overflow: auto;
}

.diplomas {
    position: relative;
    padding: 32px 16px;
    background-color: var(--primary-blue);
    animation-name: animatetop;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.close-btn:hover,
.close-btn:focus {
  text-decoration: none;
  color: var(--light-blue);
  cursor: pointer;
}

.diplomas__container {
    display: flex;
    padding: 24 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.diploma {
    width: 100%;
    height: 270px;
    max-width: 480px;
    min-width: 365px;
    margin: 0 20px;
    border: 4px solid var(--light-blue);
    overflow-y: scroll;
}

.diploma > img {
    height: auto;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 4rem;
    font-weight: bold;
    color: var(--just-white);
}

.work-experience > p {
    margin-bottom: 10px;
}

.qualities-container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
}

.qualities-list {
    padding: 12px 8px;
    margin: 0 auto;
}

.qualities-list ul {
    list-style: none;
}

.title--strengths {
    color: #2aff0a;
}

.title--weaknesses {
    color: #fc2313;
}

.strengths ul li {
    color: #2aff0a;
}

.strengths ul li::before {
    content: '+ ';
}

.weaknesses ul li {
    color: #fc2313;
}

.weaknesses ul li::before {
    content: '- ';
}

.languages > p {
    margin-bottom: 8px;
    text-align: center;
}

.languages > p > span {
    display: inline-block;
    background-color: var(--light-blue);
    border-radius: 16px;
    color: var(--bg-blue);
    margin-right: 8px;
    padding: 4px 8px;
}

.program-language {
    display: grid;
    height: 40px;
    grid-template-columns: 100px 1fr;
    place-items: center;
}

.program-language > label {
    font-size: var(--p);
    justify-self: left;
}

.program-language > meter {
    width: 100%;
    height: 45px;
}

::-webkit-meter-optimum-value {
    background-color: var(--light-blue);
}

::-webkit-meter-bar {
    background-color: var(--secondary-blue);
    border: var(--light-blue);
}

.ides, 
.others {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.others {
    margin-bottom: 0;
}

.ide,
.other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ide-image,
.other-image {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}

.ide-image > img,
.other-image > img,
.hobbie-image > img {
    object-fit: contain;
}

.hobbies {
    background-color: var(--bg-blue);
}

.hobbies-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    padding: 16px 0;
}

.hobbie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobbie-image {
    width: 70px;
    height: 70px;
    margin: 8px;
}

.projects {
    padding-left: 0;
    padding-right: 0;
}

.cards {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.card {
    position: relative;
    width: 100%;
    height: 510px;
    min-width: 340px;
    max-width: 340px;
    margin: 0 15px;
    padding: 14px 20px;
    background-color: var(--secondary-blue);
    box-shadow: 3px 3px 4px var(--bg-blue);
    scroll-snap-align: center;
}

.subtitle--card {
    font-size: 2.4rem;
}

.card-image {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 12px;
    border: 3px solid var(--light-blue);
}

.card-button {
    position: absolute;
    left: 50%;
    width: 90%;
    bottom: 20px;
    transform: translateX(-50%);
    color: var(--light-blue);
    padding: 0;
}

.card-button > a,
.projects-button > a,
.biography-button > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--light-blue);
    font-size: var(--button);
    padding: 8px 16px;
}

.projects-button:hover > a,
.card-button:hover > a,
.biography-button > a {
    color: var(--bg-blue);
}

.projects-button {
    margin-top: 30px;
    padding: 0;
}

footer {
    width: 100%;
    margin-top: var(--section-margin);
    padding: 16px;
    background-color: var(--primary-blue);
    color: var(--just-white);
    text-align: center;
}

.links-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 16px 0;
}

.link {
    width: 51px;
    height: 50px;
}

.footer__github {
    font-size: 2rem;
}

.footer__github > a {
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--light-blue);
}

.footer__github > a:hover {
    text-decoration: underline;
}

.footer__copy {
    margin-top: 16px;
    font-size: 1.4rem;
}

/* PROJECTS */

.projects-container {
    padding: 0;
    padding-bottom: 16px;
    background-color: var(--bg-blue);
}

.project-section {
    margin-bottom: 30px;
    padding: 16px 0;
    background-color: var(--primary-blue);
}

.project-section__title {
    font-size: 2.6rem;
}

/* BIOGRAPHY */

.biography-container {
    max-width: 650px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--primary-blue);
}

.personal-info {
    grid-area: 1 / 1 / 4 / 3;
    font-size: var(--p);
}

.personal-info ul {
    list-style: none;
}

.personal-info ul li {
    padding: 4px;
    color: var(--light-blue);
}

.personal-info ul li span {
    margin-left: 8px;
    color: var(--just-white);
}

.johan-image {
    height: 300px;
    min-width: 280px;
    max-width: 320px;
    margin: 0 auto 8px;
    width: 100%;
    border: 2px solid var(--light-blue);
}

@media (min-width: 768px) {
    .biography-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: max-content;
        column-gap: 12px;
    }

    .johan-image {
        grid-area: 1 / 3 / 4 / 5;
    }
}

.johan-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history {
    grid-area: 4 / 1 / auto / 5;
    margin-top: 20px;
    font-size: var(--p);
    color: var(--just-white);
}

.history p {
    line-height: 2rem;
}

.history h3 {
    margin-top: 20px;
    font-size: var(--h2);
    font-weight: 500;
}

.history ul {
    margin-top: 20px;
    list-style: disc;
    margin-left: 20px;
}

.history ul li {
    padding: 4px;
}

.button-container--grid {
    justify-self: center;
    grid-area: 5 / 1 / 6 / 5;
}

/* BLOG */

.sidenav {
    height: 100%;
    width: 100vw;
    transform: translateX(-100%);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
    background-color: var(--primary-blue);
    transition: transform .5s;
}

.blog-header {
    display: grid;
    grid-template-columns: 50px 1fr 110px;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--primary-blue);
    color: var(--just-white);
    margin-bottom: var(--section-margin);
}

.blog-header--mobile {
    display: none;
}

.blog-header__icon {
    display: inline-block;
    width: 45px;
    height: 35px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.blog-header__icon > div {
    width: 100%;
    height: 5px;
    background-color: var(--light-blue);
    margin-bottom: 4px;
}

.blog-header__icon div:last-child {
    margin-bottom: 0;
}

.blog-header__title {
    margin: 0;
    font-size: 3rem;
}

.blog-header__btn {
    margin: 0;
}

.blog-nav {
    margin-top: 40px;
    text-align: center;
}

.blog-nav > a {
    display: block;
    font-size: var(--h3);
    text-decoration: none;
    color: var(--just-white);
    padding: 10px 0;
    border-bottom: 2px solid var(--secondary-blue);
}

.blog-nav > a:hover {
    color: var(--light-blue);
}

.blog-main {
    padding: var(--content-margin);
}

.main-container {
    width: 100%;
    height: 400px;
    padding: 20px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > h1 {
    text-align: center;
    color: var(--just-white);
    font-size: 2.4rem;
    margin-bottom: 16px;
    font-weight: 500;
}

.main-container > p {
    font-size: var(--p);
    line-height: 2rem;
    color: var(--just-white);
}

.biography-button {
    justify-self: center;
    grid-area: 5 / 1 / 6 / 5;
}

.biography-button > a {
    color: var(--light-blue);
}

.biography-button:hover > a {
    color: var(--primary-blue)
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0ed6d3;
}

@media (min-width: 1024px) {
    :root {

        --h1: 3rem;
        --h2: 2.2rem;
        --h3: 2rem;
        --h4: 1.8rem;
        --button: 1.8rem;
        --p: 1.7rem;
    
        --section-margin: 30px;
        --section-padding: 20px;
    }

    .main-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }

    .logo img {
        width: 180px;
        height: 180px;
    }

    .logo__title {
        font-size: 4.6rem;
    }

    .logo__subtitle {
        font-size: 1.8rem;
    }

    .nav-bar {
        justify-self: center;
    }

    .home-main {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 30px;
        justify-content: center;
        grid-template-areas: "intro          intro"
                             "skills     knowledge"
                             "education  knowledge"
                             "work-exp   knowledge"
                             "qualities  knowledge"
                             "hobbies      hobbies"
                             "projects    projects";
    }

    .introdution {
        grid-area: intro;
        width: 100%;
    }

    .intro-profile {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        column-gap: 20px;
    }

    .skills {
        grid-area: skills;
        width: 90%;
        justify-self: center;
    }

    .education {
        grid-area: education;
        width: 90%;
        justify-self: center;
    }

    .work-experience {
        grid-area: work-exp;
        width: 90%;
        justify-self: center;
    }

    .qualities {
        grid-area: qualities;
        width: 90%;
        justify-self: center;
    }

    .knowledge {
        grid-area: knowledge;
        width: 90%;
        justify-self: center;
    }

    .hobbies {
        grid-area: hobbies;
        width: 90%;
        justify-self: center;
    }

    .projects {
        grid-area: projects;
    }

    .main--cards {
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
    }

    .blog-header {
        grid-template-columns: 1fr 150px;
    }

    .blog-header__icon {
        display: none;
    }
}

.fadeInLeft {
    animation: fadeInLeft 1s ease-in-out forwards;
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-600px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadeInRight {
    animation: fadeInRight 1s ease-in-out forwards;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(600px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.appear {
    animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hidden {
    transition: all 1.5s;
    transform: translateX(-100%);
    filter: blur(5px);
    opacity: 0;
}

.show {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}